.menu-btn {
  display: inline-block;
  width: 16px;
  background-color: transparent;
  border: none;
  padding: 0px;
  span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #000000;

    &:first-child {
      margin-bottom: 4px;
    }
    &:last-child {
        margin-top: 4px;
      }
  }
}
